@import "tailwindcss";

@theme inline {
	--color-deepest: #151515;
	--color-deeper: #292929;
	--color-deep: #3d3d3d;
	--color-ink: #f4f4f8;
	--color-whisper: #c2c2d8;
	--color-primary: #53a6fe;
	--color-secondary: #a63d40;
	--color-tertiary: #fed766;

	--shadow-neob-xl: 10px 10px rgba(0, 0, 0);
	--shadow-neob-md: 5px 5px rgba(0, 0, 0);

	--font-mono: "Fira Code Variable", monospace;
}
