---
import { Image } from "astro:assets";
import manEaterBugPath from "../../assets/maneaterbug.jpg";
---

<div
    class="aspect-9/13 w-96 text-black rounded-lg overflow-hidden shadow-lg border-8 border-black bg-orange-400 p-2 flex flex-col gap-2"
>
    <div class="flex items-center justify-between p-1 border border-black">
        <h1 class="uppercase font-bold text-lg">Man-Eater Bug</h1>
        <div class="bg-black rounded-full text-white w-6 text-center">E</div>
    </div>
    <div class="px-4 flex flex-col gap-1">
        <div class="flex items-center justify-end">
            <div
                class="bg-red-600 text-yellow-300 rounded-full size-5 overflow-hidden text-2xl flex items-center justify-center"
            >
                ★
            </div>
            <div
                class="bg-red-600 text-yellow-300 rounded-full size-5 overflow-hidden text-2xl flex items-center justify-center"
            >
                ★
            </div>
        </div>
        <Image
            class="border-4 aspect-1/1 border-gray-500"
            src={manEaterBugPath}
            alt=""
        />
    </div>
    <div class="border-4 bg-orange-200 text-black p-1 grow flex flex-col gap-1">
        <h2 class="font-bold text-sm">[INSECT/EFFECT/FLIP]</h2>
        <p class="text-xs grow">FLIP: Target 1 monster on the field; destroy it.</p>
        <p class="border-t border-black text-right font-bold text-sm">ATK/ 450 DEF/ 600</p>
    </div>
    <p class="text-xs text-right">©2020 Studio Dice/SHUEISHA, TV TOKYO, KONAMI</p>
</div>
