---
import profilePic from "../assets/profile.png";
---

<section
  class="relative w-screen bg-deep flex flex-col items-start justify-center px-4 py-16"
>
  <div class="max-w-3xl mx-auto space-y-8">
    <div class="container mx-auto max-w-3xl">
      <h1 class="text-6xl font-extrabold">About me</h1>
      <p class="text-xl italic font-medium">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio
        optio cum repellat impedit, maxime eligendi aliquid soluta autem commodi
        dolor ex dolorem consequatur libero illo. Cupiditate quasi veniam cumque
        veritatis!Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Distinctio optio cum repellat impedit, maxime eligendi aliquid soluta
        autem commodi dolor ex dolorem consequatur libero illo. Cupiditate quasi
        veniam cumque veritatis!Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Distinctio optio cum repellat impedit, maxime eligendi
        aliquid soluta autem commodi dolor ex dolorem consequatur libero illo.
        Cupiditate quasi veniam cumque veritatis!
      </p>
    </div>

    <img
      src={profilePic.src}
      alt="Profile Picture"
      class="rounded-2xl max-w-md"
    />
  </div>
</section>
