---
import profilePic from "../assets/profile.png";
---

<section
  class="relative bg-deeper flex flex-col items-start justify-center p-4"
>
  <div class="z-10 max-w-3xl mx-auto py-16 space-y-16">
    <img
      src={profilePic.src}
      alt="Profile Picture"
      class="rounded-4xl max-w-md border-4 border-ink shadow-neob-xl shadow-ink"
    />
    <div class="space-y-8">
      <h1 class="text-6xl text-shadow-neob-xl font-extrabold">
        About me<span class="text-primary">.</span>
      </h1>
      <p class="text-xl italic font-medium">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio
        optio cum repellat impedit, maxime eligendi aliquid soluta autem commodi
        dolor ex dolorem consequatur libero illo. Cupiditate quasi veniam cumque
        veritatis!Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Distinctio optio cum repellat impedit, maxime eligendi aliquid soluta
        autem commodi dolor ex dolorem consequatur libero illo. Cupiditate quasi
        veniam cumque veritatis!Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Distinctio optio cum repellat impedit, maxime eligendi
        aliquid soluta autem commodi dolor ex dolorem consequatur libero illo.
        Cupiditate quasi veniam cumque veritatis!
      </p>
    </div>
  </div>
</section>
