---
import profilePic from "../assets/profile.png";
---

<section
  id="about"
  class="bg-deeper flex items-start justify-center p-2 sm:p-4"
>
  <div
    class="max-w-md md:max-w-3xl mx-auto w-full flex flex-col md:flex-row md:h-md py-16 gap-4"
  >
    <img
      src={profilePic.src}
      alt="Profile Picture"
      class="rounded-xl w-full md:h-full md:w-76 max-w-md shadow-neob-md sm:shadow-neob-xl shadow-black"
    />
    <div
      class="border-2 border-primary max-w-md w-full rounded-xl md:h-76 flex flex-col overflow-hidden shadow-neob-md sm:shadow-neob-xl shadow-black"
    >
      <h2 class="p-2 bg-primary text-black text-2xl font-bold">About me</h2>
      <div class="flex justify-center font-mono grow flex-col bg-deepest p-2">
        <div class="text-whisper">
          <span class="text-primary">&gt;</span> whoami
        </div>
        <div>Robin Wiersig</div>
        <div class="text-whisper">
          <span class="text-primary">&gt;</span> whereami
        </div>
        <div>Berlin, Germany</div>
        <div class="text-whisper">
          <span class="text-primary">&gt;</span> whatami
        </div>
        <div>Software Developer since 2015</div>
        <div class="text-whisper">
          <span class="text-primary">&gt;</span> whichtools
        </div>
        <div>TypeScript, React, Python, Go and more</div>
        <div class="text-whisper">
          <span class="text-primary">&gt;</span>
          <span class="animate-pulse">_</span>
        </div>
      </div>
    </div>
  </div>
</section>
