---
import profilePic from "../assets/profile.png";
---

<section
  id="about"
  class="relative bg-deeper flex flex-col items-start justify-center p-2 sm:p-4"
>
  <div class="max-w-3xl mx-auto py-16 space-y-16">
    <img
      src={profilePic.src}
      alt="Profile Picture"
      class="rounded-4xl w-full max-w-md border-2 sm:border-4 border-black shadow-neob-md sm:shadow-neob-xl shadow-black"
    />
    <div class="space-y-8">
      <h1 class="text-4xl sm:text-6xl font-extrabold">
        <span class="text-primary">A</span>bout me
      </h1>
      <p class="text-xl italic font-medium">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio
        optio cum repellat impedit, maxime eligendi aliquid soluta autem commodi
        dolor ex dolorem consequatur libero illo. Cupiditate quasi veniam cumque
        veritatis!Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Distinctio optio cum repellat impedit, maxime eligendi aliquid soluta
        autem commodi dolor ex dolorem consequatur libero illo. Cupiditate quasi
        veniam cumque veritatis!Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Distinctio optio cum repellat impedit, maxime eligendi
        aliquid soluta autem commodi dolor ex dolorem consequatur libero illo.
        Cupiditate quasi veniam cumque veritatis!
      </p>
    </div>
  </div>
</section>
