---
import GithubLogo from "../assets/github-icon.svg";
import LinkedinLogo from "../assets/linkedin-icon.svg";
import waveBG from "../assets/hero-waves-wide.svg";
---

<section
  class="relative h-screen w-screen bg-deepest flex flex-col items-start justify-center p-2 sm:p-4"
>
  <div class="absolute inset-0">
    <img src={waveBG.src} class="object-cover object-bottom w-full h-full" />
  </div>
  <div class="z-10 max-w-3xl mx-auto space-y-8">
    <div class="flex flex-col items-start gap-2">
      <h1 class="text-4xl sm:text-6xl font-extrabold">
        <span class="text-primary">R</span>obin Wiersig
      </h1>
      <p class="text-xl sm:text-3xl text-whisper font-medium">
        Berlin-based Fullstack Developer.
      </p>
    </div>
    <div class="space-y-2">
      <div class="flex items-center justify-start gap-4 h-12">
        <a href="https://github.com/opsi">
          <GithubLogo
            class="size-10 bg-whisper hover:bg-primary rounded p-2 hover:scale-105 transition duration-150 ease-in-out"
          />
        </a>
        <a href="https://www.linkedin.com/in/robin-wiersig-396527195">
          <LinkedinLogo
            class="size-10 bg-whisper hover:bg-primary rounded p-2 hover:scale-105 transition duration-150 ease-in-out"
          />
        </a>
        <a
          href="/#about"
          class="text-deepest flex items-center px-4 py-1 h-10 font-bold font-mono text-2xl rounded bg-whisper hover:bg-primary hover:scale-105 transition duration-150 ease-in-out"
          >whoami</a
        >
      </div>
    </div>
  </div>
</section>
