---
import profilePic from "../assets/profile.png";
---

<section
  class="relative bg-deepest flex flex-col items-start justify-center p-4"
>
  <div class="z-10 max-w-3xl mx-auto py-16 space-y-16">
    <div class="space-y-8">
      <h1 class="text-6xl text-shadow-neob-xl font-extrabold">
        <span class="text-primary">P</span>rojects
      </h1>
      <p class="text-xl italic font-medium">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio
        optio cum repellat impedit, maxime eligendi aliquid soluta autem commodi
        dolor ex dolorem consequatur libero illo. Cupiditate quasi veniam cumque
        veritatis!Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Distinctio optio cum repellat impedit, maxime eligendi aliquid soluta
        autem commodi dolor ex dolorem consequatur libero illo. Cupiditate quasi
        veniam cumque veritatis!Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Distinctio optio cum repellat impedit, maxime eligendi
        aliquid soluta autem commodi dolor ex dolorem consequatur libero illo.
        Cupiditate quasi veniam cumque veritatis!
      </p>
    </div>
  </div>
</section>
