---
import GolangIcon from "../assets/golang-icon.svg";
import PostgresqlIcon from "../assets/postgresql-icon.svg";
import PythonIcon from "../assets/python-icon.svg";
import ReactIcon from "../assets/react-icon.svg";
import TypescriptIcon from "../assets/typescript-icon.svg";
import Menoovo from "../projects/Menoovo.md";

import PseudoTerminalEntry from "./PseudoTerminalEntry.astro";
import ProjectCard from "./ProjectCard.astro";
---

<section
  class="relative bg-foo flex flex-col items-start justify-center p-2 sm:p-4 pr-4 sm:pr-8"
>
  <div class="max-w-3xl mx-auto py-16 space-y-16">
    <div class="space-y-8">
      <h1 class="text-4xl sm:text-6xl font-extrabold">
        <span class="text-primary">P</span>rojects
      </h1>
      <div class="space-y-8">
        <ProjectCard name="Menoovo">
          <Fragment slot="entries">
            <Menoovo />
            <PseudoTerminalEntry command="time">
              06-2024 - present
            </PseudoTerminalEntry>
            <PseudoTerminalEntry command="challenges">
              - built multiple frontends <br />
              - lead dev in backend <br />
              - worked in every area
            </PseudoTerminalEntry>
            <PseudoTerminalEntry command="link">
              <a href="https://menoovo.com">https://menoovo.com</a>
            </PseudoTerminalEntry>

            <Fragment slot="icons">
              <PostgresqlIcon class="size-6 fill-black" />
              <PythonIcon class="size-6 fill-black" />
              <ReactIcon class="size-6 fill-black" />
              <TypescriptIcon class="size-6 fill-black" />
            </Fragment>
          </Fragment>
        </ProjectCard>

        <ProjectCard name="Trace-Alyser">
          <Fragment name="entries">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores et
            molestiae harum soluta provident temporibus, ex quae facere quasi,
            pariatur at delectus porro vel eum est voluptates? Nemo, voluptatum
            consequatur.
          </Fragment>
          <Fragment slot="icons">
            <PythonIcon class="size-6 fill-black" />
            <ReactIcon class="size-6 fill-black" />
            <TypescriptIcon class="size-6 fill-black" />
          </Fragment>
        </ProjectCard>

        <ProjectCard name="Collect Client">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores et
          molestiae harum soluta provident temporibus, ex quae facere quasi,
          pariatur at delectus porro vel eum est voluptates? Nemo, voluptatum
          consequatur.
          <Fragment slot="icons">
            <GolangIcon class="size-8 fill-black" />
          </Fragment>
        </ProjectCard>
        <button class="">See more</button>
      </div>
    </div>
  </div>
</section>
