---
import HeroSection from "./HeroSection.astro";
import AboutSection from "./AboutSection.astro";
import ProjectsSection from "./ProjectsSection.astro";
---

<main class="relative h-screen w-screen">
  <HeroSection />
  <AboutSection />
  <ProjectsSection />
</main>
