---
import HeroSection from "./HeroSection.astro";
---

<main class="relative h-screen w-screen bg-cover bg-center bg-slate-900">
  <HeroSection />
  <section class="h-40 bg-green-300"></section>
</main>
