---
import "../styles/global.css";
import "@fontsource-variable/fira-code";
import "@fontsource/fira-sans";
import "@fontsource-variable/biorhyme";
import NavButton from "../components/NavButton.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Robin Wiersig</title>
  </head>
  <body class="bg-deepest text-ink">
    <!-- TODO: Improve this styling -->
    <nav
      class="fixed w-screen top-0 z-50
      flex items-center p-2 sm:p-4 gap-2 sm:gap-4 justify-end"
    >
      <!-- TODO: Implement this -->
      <NavButton href="/#about" label="About" />
      <NavButton href="#" label="Projects" />
      <NavButton href="/#contact" label="Contact" />
    </nav>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    font-family:
      "Fira Sans",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "BioRhyme Variable", sans-serif;
  }

  code,
  pre {
    font-family: "Fira Code Variable", monospace;
  }
</style>
